* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: #4D243D;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.calculadora {
    height: 433px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid;
    border-color: darkgray;
}


button {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    transition: all 0.5s ease;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);

}

.btn-c {
    color: red;
}

.btn-vazio {
    background: none;
}

.btn-back {
    background: none;
    font-size: 25px;
    color: rgba(0, 128, 0, 0.527);
}

.btn-back:hover {
    background: none;
    color: rgb(14, 182, 14);
}

.btn-calc {
    color: rgb(14, 182, 14);
}

.btn-igual {
    background-color: green;
}

.btn-igual:hover {
    background-color: rgb(5, 199, 5);
}

.button {
    display: inline;
}

#resultado {
    max-width: 207px;
    height: 45px;
    margin: 5px;
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 5px;
    overflow: hidden;
    overflow-x: auto;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.507);
    transition: all 0.5s ease;
}

a:hover {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    text-align: center;
    position: relative;
    top: 73%;
}

.footer p {
    font-size: 1.6rem;
    margin: 0;
}
