* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: #4C243E;
    background-image: url(img/background-floresta.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.calculator {
    width: 263px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    padding: 0 0 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid;
    border-color: darkgray;
    -webkit-box-shadow: 0px 10px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 51px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 51px 0px rgba(0,0,0,0.75);

}

.content-flex {
    height: 334px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


button {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
    transition: all 0.5s ease;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.5);

}

.btn-c {
    color: red;
}

.btn-c:hover {
    color: rgba(255, 0, 0, 0.514);
}


.class-btn-back {
    display: flex;
    justify-content: end;
}

.btn-back {
    background: none;
    font-size: 25px;
    color: rgba(0, 128, 0, 0.527);
}

.btn-back:hover {
    background: none;
    color: rgb(14, 182, 14);
}

.btn-calc {
    color: rgb(14, 182, 14);
}

.btn-calc:hover {
    color: rgba(14, 182, 14, 0.568);
}

.btn-igual {
    background-color: green;
}

.btn-igual:hover {
    background-color: rgb(5, 199, 5);
}


#result {
    width: 217px;
    height: 55px;
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 5px;
    overflow: hidden;
    overflow-x: auto;
}

.calculator .result {
    width: 263px;
    display: flex;
    justify-content: center;
}

.footer p {
    font-size: 12px;
    color: rgba(245, 245, 245, 0.507);
}

a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.507);
    transition: all 0.5s ease;
}

a:hover {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    text-align: center;
    position: relative;
    top: 75%;
}
